<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact | NutriGaze</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="navbar">
    <div><strong>NUTRIGAZE</strong></div>
    <div>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/predict">Predict</a>
      <a href="/contact" class="active">Contact</a>
    </div>
  </div>

  <div class="main-content">
    <h2>Diploma Payment Receipt</h2>
    <table class="receipt">
      <tr><td>Registration No</td><td>22065-CHOT-012</td></tr>
      <tr><td>Applicant Name</td><td>CHINTA ANUSKA</td></tr>
      <tr><td>Gender</td><td>F</td></tr>
      <tr><td>Mobile Number</td><td>9951346713</td></tr>
      <tr><td>Are you differently abled (PH)</td><td>No</td></tr>
      <tr><td>Amount</td><td>₹600.00</td></tr>
      <tr><td>Payment Ref No</td><td>PTM010354444A2C4</td></tr>
      <tr><td>Payment Date</td><td>01/03/2025</td></tr>
    </table>
  </div>
</body>
</html>
