<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriGaze</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="hero">
        <div class="navbar">
            <div><strong>NUTRIGAZE</strong></div>
            <div>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Predict</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <div class="title-section">
            <p>Welcome to <strong>NutriGaze</strong></p>
            <h1>GREENGUARD INSIGHTS</h1>
            <p>We are a team of innovative scientists and technologists dedicated to ensuring your produce is always fresh and healthy.</p>
            <a href="#" class="btn">GET STARTED</a>
        </div>
    </div>
</body>
</html>

