<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Predict | NutriGaze</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="navbar">
    <div><strong>NUTRIGAZE</strong></div>
    <div>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/predict" class="active">Predict</a>
      <a href="/contact">Contact</a>
    </div>
  </div>

  <div class="main-content">
    <h2>Image Classification</h2>
    <form method="POST" enctype="multipart/form-data">
      <label>Upload Your Image :</label>
      <input type="file" name="pc_image" accept="image/*"  required>
      <button type="submit" class="btn">predict</button>
    </form>
  </div>
</body>
</html>
